---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<div class="portfolio-intro">
  <p>Browse some of my featured projects. Click any card to open the full project page, read the details, and view images or links. I have only highlighted some of my recent work here, you can find more details on my older work in my CV, which is also attached.</p>
</div>

<div class="portfolio-grid">
  {% for post in site.portfolio %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

